/.metadata/
**/target/
**/node_modules/
**/.factorypath
**/.settings/

# Secrets - DO NOT COMMIT
**/application*.yml
**/*.env
**/*.pem
**/*.key
# Configuration files
**/application.yml
**/application.properties
**/application-*.yml
